{
  "openapi": "3.0.1",
  "info": {
    "title": "APIM",
    "version": "v3.0",
    "contact": {
      "email": "apiclouduser@trimble.com"
    }
  },
  "servers": [
    {
      "url": "https://eu-az.api.trimble.com/product/profile/v"
    },
    {
      "url": "https://eu-aws.api.trimble.com/product/profiles-dev/v10.1.1/users"
    },
    {
      "url": "https://us-aws.api.trimble.com/product/profiles/v3.0-dev2"
    },
    {
      "url": "https://us-az.api.trimble.com/product/profiles/vabc"
    },
    {
      "url": "https://eu-az.api.trimble.com/product/profiles/v1.225"
    },
    {
      "url": "https://eu-az.api.trimble.com/product/profiles/1.2.3"
    },
      {
      "url": "https://eu-az.api.trimble.com/product/profile/"
    },
    {
      "url": "https://eu-aws.api.trimble.com/product/profiles-dev/v10.1.1/users"
    },
    {
      "url": "https://us-aws.api.trimble.com/product/profiles/v3-img/"
    },
    {
      "url": "https://us-az.api.trimble.com/product/profiles/vabc"
    },
    {
      "url": "https://eu-az.api.trimble.com/product/profiles/v9999999999999999"
    },
    {
      "url": "https://eu-az.api.trimble.com/product/profiles/v1/user-"
    },
    {
      "url": "https://eu-az.api.trimble.com/product/profiles/v0/"
    },
    {
      "url": "https://eu-az.api.trimble.com/product/profiles/v1/u$ers"
    },
    {
      "url": "https://eu-az.api.trimble.com/product/profiles/v1/user+info"
    },
    {
      "url": "https://eu-az.api.trimble.com/product/profiles/v-dev1/user"
    },
    {
      "url": "https://eu-az.api.trimble.com/v1/user"
    }
  ],
  "tags": [
    {
      "name": "APIProductManagement",
      "description": "API calls to create and manage API versions and deployments.\n"
    },
    {
      "name": "subscriptionManagement V1.0",
      "description": "API calls to create and manage Subscriptions.\n"
    }
  ],
  "paths": {
    "/apis/{api_id}?id=0": {
      "gets": {
        "tags": [
          "API Product Management V1.0"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "team_uuid",
            "required": true,
            "description": "team uuid from the profiles"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "basePath": "array",
                    "data": {
                      "specContent": {
                        "apiName": "api1"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "aPIProductManagement"
        ],
        "summary": "Create a team api",
        "description": "Create a team api",
        "security": [
          {
            "AuthFunction": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "team_uuid",
            "required": true,
            "description": "team uuid from the profiles"
          }
        ],
        "requestBody": {
          "content": {
            "text/plain": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the api product"
                  },
                  "description": {
                    "type": "string"
                  },
                  "The brown Fox": {
                    "type": "string",
                    "description": "alternate basepath of the api product"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "apiType": {
                    "type": "string",
                    "example": "TEAM | PUBLIC"
                  },
                  "apiInternal": {
                    "type": "boolean"
                  },
                  "approvalType": {
                    "type": "string",
                    "example": "MANUAL | AUTO"
                  }
                },
                "required": [
                  "name",
                  "description",
                  "api_type",
                  "api_internal"
                ]
              },
              "examples": {
                "create-api": {
                  "value": {
                    "name": "example-api",
                    "description": "Example API description",
                    "base_path": "example",
                    "tags": [
                      "proxy",
                      "api"
                    ],
                    "api_type": "TEAM",
                    "api_internal": true,
                    "approval_type": "MANUAL"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "authz-not-authorized": {
                    "value": {
                      "code": "AZ1004",
                      "message": "You are not authorized to create this API"
                    }
                  },
                  "token-expired-or-invalid": {
                    "value": {
                      "message": "User is not authorized to access this resource with an explicit deny"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "api-name-exists": {
                    "value": {
                      "code": "CT1001",
                      "message": "API name already exists"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "create-api-response": {
                    "value": {
                      "uuid": "de412c72-f457-4f1b-81b7-73b99e6dbd92"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/apis/{api_id}/123/{version_id}?param=value": {
      "gets": {
        "tags": [
          "API Product Management"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "team_uuid",
            "required": true,
            "description": "team uuid from the profiles"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "basePath": "array",
                    "data": {
                      "specContent": {
                        "apiName": "api1"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/apis/get": {
      "get": {
        "tags": [
          "API Product Management"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "team_uuid",
            "required": true,
            "description": "team uuid from the profiles"
          }
        ],
        "responses": {
          "2000": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "basePath": "array",
                    "data": {
                      "specContent": {
                        "apiName": "api1"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "API Product Management"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "team_uuid",
            "required": true,
            "description": "team uuid from the profiles"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AuthFunction": {
        "typeKey": "apiKey"
      }
    }
  }
}