name: Run Spectral on Pull Requests

on:
  pull_request:
    branches:
      - main
      - stage

jobs:
  build:
    name: Run Spectral
    runs-on: ubuntu-latest
    steps:
      # Check out the repository
      - uses: actions/checkout@v3

      # Run Spectral
      - uses: stoplightio/spectral-action@latest
        with:
          file_glob: "examples/**/*.yaml"
          spectral_ruleset: "https://raw.githubusercontent.com/trimble-oss/openapi-spectral-rules/main/spectral.yaml"
